@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'poppins', sans-serif;
}

a {
    color: rgb(41, 49, 137);
}

.container {
    width: 90%;
    margin: auto;
}

/* header start */

header {
    height: 100px;
    border-bottom: 2px solid rgb(41, 49, 137, 0.06)
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}

header nav .logo a {
    color: rgb(41, 49, 137);
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
}

nav ul {
    display: flex;
    column-gap: 30px;
    font-size: 13px;
}

nav ul li a {
    color: rgb(41, 49, 137);
    text-decoration: none;
    transition: color .25s ease;

}

nav ul li a:hover {
    color: rgb(41, 49, 137, 0.5);


}

nav .menu {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

nav .menu .hakkimda {
    color: rgb(41, 49, 137);
    text-decoration: none;
    background: rgb(41, 49, 137, 0.1);
    padding: 12px 20px;
    border-radius: 56px;
    font-size: 13px;
    transition: all .25s ease;
}

nav .menu .hakkimda:hover {
    color: rgb(41, 49, 137, 0.5);
    background-color: rgb(41, 49, 137, 0.1);
}

/* header end */
/* section start */
.content {
    color: rgb(41, 49, 137);
    height: calc(100vh - 100px);
    padding-top: 100px;
}

.content img {
    width: 1000px;
    align-items: center;
    padding-top: 0;
}

/* section end */